<!DOCTYPE html>
<html lang="{{ app.request.locale|e('html_attr')}}">
    <head>
        <meta charset="UTF-8" />
        {% block meta %}
            {% set title = 'title.w_lang'|trans({}, 'meta') %}
            {% set url = app.request.uri %}
            {% set description = 'description'|trans({}, 'meta') %}
            {% set image = site_config.meta.image %}
            
            <title>{{ title }}</title>
            <meta name="description" content="{{ description }}">
            <meta property="og:title" content="{{ title }}" />
            <meta property="og:url" content="{{ url }}" />
            <meta property="og:type" content="website" />
            <meta property="og:description" content="{{ description }}" />
            <meta property="og:image" content="{{ image }}" />

            <meta name="twitter:card" content="summary" />
            <meta name="twitter:title" content="{{ title }}" />
            <meta name="twitter:description" content="{{ description }}" />
            <meta name="twitter:url" content="{{ url }}" />
            <meta name="twitter:image" content="{{ image }}" />
    
            <link rel="canonical" href="{{ url }}" />
        {% endblock %}
        
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('stack/logo-32x32.png') }}" />
            <link rel="stylesheet" href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-reconfigure.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/deputy.min.css') }}" />
        {% endblock %}
		
		<link rel="alternate" type="application/rss+xml" href="{{ url('rss') }}" title="Boardest RSS feed">
		<script>
			function checkIfExists(el){
				var el = $(el);
				var urlGraph = el.parents('.urlGraph');
				
				el.addClass('error');
				if(urlGraph.find('.meta').length){
					urlGraph.find('.img-w').remove();
				}else{
					urlGraph.remove();
				}
			};
		</script>

        <meta name="fl-verify" content="fe1ef2e4ff9260dc4dcd208d5d61b43e">

    </head>
    <body class="{% block page_template %}layout-default{% endblock %} {% block header_layout %}h-fixed{% endblock %}">
        {% block body %}{% endblock %}
        
        <div class="global_assets">
            {% block global_assets %}
            <div class="loading-main hide">
                <div class="spinner spinner-sm">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
            {% endblock %}
        </div>
        
        {% block templates %}{% endblock %}
        
        {% block javascripts %}
        <script src="{{ asset('jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bootstrap/dist/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
        
        {% if(site_config.counter.script is defined and site_config.counter.script is not null) %}
            {{ site_config.counter.script|raw }}
        {% endif %}

<!-- <script type="text/javascript"
  src="https://d1zazrti94enmy.cloudfront.net/assets/flippaPromoBar-e2bdeab54e3ccc7e6aea1e72704704a68a5ac7a2523ffd0510897d287223d401.js"
  id="flippa-promo-bar"
  data-pos="bottom"
  data-listing-id="9347306">
</script> -->

    </body>
</html>
