{% extends 'base.html.twig' %}
{% trans_default_domain "index-loggedout" %}

{% block meta %}
	{% set title = 'title.w_lang'|trans({}, 'meta') %}
	{% set url = app.request.uri %}
	{% set description = 'description'|trans({}, 'meta') %}
	{% set image = site_config.meta.image %}
	
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:url" content="{{ url }}" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{{ description }}" />
	<meta property="og:image" content="{{ image }}" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{ title }}" />
	<meta name="twitter:description" content="{{ description }}" />
	<meta name="twitter:url" content="{{ url }}" />
	<meta name="twitter:image" content="{{ image }}" />

    <link rel="canonical" href="{{ url('homepage') }}" />

{% endblock %}

{% block page_template %}layout-home{% endblock %}

{% block templates %}
    {% include('default/templates/tplReplier.html.twig') %}
{% endblock %}           

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        'css/lobsters.css'
        'magnific-popup/dist/magnific-popup.css'
        'chosen/chosen.css'
        'imperavi-redactor/redactor.css'
        'css/snippets/plugins/magnific-popup.css'
        'css/snippets/plugins/push-notif.css'
        'css/snippets/site.css'
        'css/snippets/components.css'
        'css/snippets/sign.css'
        'css/snippets/header.css'
        'css/snippets/footer.css'
        'css/snippets/404.css'
        'css/snippets/lobsters.css'
        'css/snippets/composer.css'
        filter='cssrewrite' 
         %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/bazingajstranslation/js/translator.min.js'
        'js/translations/config.js'
        'js/translations/follow-js/*.js'
        'js/translations/vote-js/*.js'
        'js/translations/stack/*.js'
        'js/translations/composer-modal/*.js'
        'underscore/underscore-min.js'
        'chosen/chosen.jquery.js'
        'magnific-popup/dist/jquery.magnific-popup.min.js'
        'imperavi-redactor/redactor.js'
        'imperavi-redactor/plugins/expand/expand.js'
        'imperavi-redactor/plugins/cloudinary/cloudinary.js'
        'google-code-prettify/bin/prettify.min.js'
        'clipboard/dist/clipboard.min.js'
        'TitleNotifier.js/dist/title_notifier.min.js'
        'js/jquery.highlight.js'
        'js/snippets/functions.js'
        'js/snippets/push-notif.js'
        'js/snippets/lobsters.js'
        'js/snippets/submit-reply.js'
        'js/snippets/submit-thread.js'
        'js/snippets/main-loader.js'
        'js/snippets/vote.js'
        'js/snippets/follow.js'
        'js/snippets/ajax-btn.js'
        'js/snippets/magnific-popup.js'
        'js/snippets/prettyprint.js'
        'js/snippets/profile-hover-card.js'
        'js/snippets/topic-hover-card.js'
        'js/snippets/redactor-replier.js'
        'js/snippets/composer-title.js'
        'js/snippets/top-search.js'
        'js/snippets/infinite-scroll.js'
        'js/snippets/top-notifications.js'
        'js/snippets/thread-actions.js'
        'js/snippets/bookmark.js'
        'js/snippets/clipboard.js'
        'js/snippets/board-selector.js'
        debug=false %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('imperavi-redactor/lang/' ~ app.request.locale ~ '.js') }}"></script>
    <script>
        $(document).ready(function () {
            /*
             * Tooltips
             */
            $('[data-toggle="tooltip"]').tooltip({
                animation: false,
                delay: {"show": 250, "hide": 0},
                trigger: 'hover',
            });
        });
		
		$('.sorting-menu').on({
			"click":function(e){
			  e.stopPropagation();
			}
		});
    </script>
{% endblock %}

{% block body %}
    
    {% include('default/header.html.twig') %}
    
    <div class="wrapper">
        <div class="wrapper-in">
            <div class="unit-box group">

				{% if app.request.get('feed') == 'all' %}
					{% set feed = 'all' %}
				{% elseif app.request.get('feed') == 'followed-users' %}
					{% set feed = 'followed-users' %}
				{% else %}
					{% set feed = null %}
				{% endif %}
				
				{% set tab = app.request.get('tab') %}
				{% set sorting = app.request.get('sorting') %}
				{% set date = app.request.get('date') %}
				
				{% if sorting == 'default' %}
					{% set sorting = null %}
				{% endif %}
				
				{% if date == 'all' %}
					{% set date = null %}
				{% endif %}
				
                {% include('default/includes/main-left.html.twig') %}

                <div class="col-body">
                    <div class="section">
                        <div class="box">
                            <div class="box-header flat group">
                                <nav class="tabs-flat tabs-flat-sm pull-left">
									
                                    <ul class="nav nav-tabs">
                                        <li role="presentation"><a class="ajax-link" data-mfp-src="{{ path('ajax_new_thread') }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}button.new_thread{% endtrans %}"><i class="fa fa-plus"></i></a></li>
                                        <li role="presentation"{% if(tab == 'all') %} class="active"{% endif %}><a href="{{ path('homepage', {sorting:sorting, date:date}) }}">{% trans %}tab.all{% endtrans %}</a></li>
                                        <li role="presentation"{% if(tab == 'questions') %} class="active"{% endif %}><a href="{{ path('homepage', {tab:"questions", sorting:sorting, date:date}) }}">{% trans %}tab.questions{% endtrans %}</a></li>
                                        <li role="presentation"{% if(tab == 'links') %} class="active"{% endif %}><a href="{{ path('homepage', {tab:"links", sorting:sorting, date:date}) }}">{% trans %}tab.links{% endtrans %}</a></li>
                                        <li role="presentation"{% if(tab == 'threads') %} class="active"{% endif %}><a class="no-border-r" href="{{ path('homepage', {tab:"threads", sorting:sorting, date:date}) }}">{% trans %}tab.threads{% endtrans %}</a></li>
                                    </ul>
                                </nav>
								<nav class="tabs-flat tabs-flat-sm pull-right">
                                    <ul class="nav nav-tabs">
                                        <li role="presentation">
											<span data-toggle="dropdown" title="{% trans %}title.sort{% endtrans %}"><i class="fa fa-sort"></i></span>
											<form class="dropdown-menu sorting-menu">
												<ul>													
													<li><label class="control control-radio">{% trans %}label.default{% endtrans %}<input type="radio" name="sorting" value="default"{{ sorting in ['default',''] ? ' checked' }}></label></li>
													<li><label class="control control-radio">{% trans %}label.score{% endtrans %}<input type="radio" name="sorting" value="score"{{ sorting == 'score' ? ' checked' }}></label></li>
													<li><label class="control control-radio">{% trans %}label.controversial{% endtrans %}<input type="radio" name="sorting" value="controversial"{{ sorting == 'controversial' ? ' checked' }}></label></li>
													<li><label class="control control-radio">{% trans %}label.lastreplied{% endtrans %}<input type="radio" name="sorting" value="lastreply"{{ sorting == 'lastreply' ? ' checked' }}></label></li>
													<li><label class="control control-radio">{% trans %}label.unanswered{% endtrans %}<input type="radio" name="sorting" value="unanswered"{{ sorting == 'unanswered' ? ' checked' }}></label></li>
													
													<li role="separator" class="divider"></li>
													
													<li><label class="control control-radio">{% trans %}label.alltime{% endtrans %}<input type="radio" name="date" value="all"{{ date in ['all',''] ? ' checked' }}></label></li>
													<li><label class="control control-radio">{% trans %}label.week{% endtrans %}<input type="radio" name="date" value="week"{{ date == 'week' ? ' checked' }}></label></li>
													<li><label class="control control-radio">{% trans %}label.month{% endtrans %}<input type="radio" name="date" value="month"{{ date == 'month' ? ' checked' }}></label></li>
													<li><label class="control control-radio">{% trans %}label.year{% endtrans %}<input type="radio" name="date" value="year"{{ date == 'year' ? ' checked' }}></label></li>
													<li class="sortBtn-w"><button type="submit" class="sortBtn text-center">{% trans %}button.sort_get{% endtrans %}</button></li>
												</ul>
											</form>
										</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="lobsters b-lobsters lobsters-narrow jsInfiniteLoader" data-fetch="{{ path('homepage_feed', {tab:tab, sorting:sorting, date:date}) }}">
                        {# dikkat: .stories:empty:before stil direktiflerinin düzgün çalışması için whitespace'siz bir çıktı gerekmektedir #}
                        <ol data-mark="jsThreads" class="stories list jsInfiniteLoaderTarget" data-placeholder="{% trans %}message.nothing_yet{% endtrans %}">{% for threadUnit in threadUnits %}
                            {% include('default/snippets/thread-single-in-list.html.twig') with {'threadUnit': threadUnit} %}
                        {% endfor %}</ol>
                        <div class="loader-hr">
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>

                <div class="col-right">
					
					{#
					{% if not is_granted('ROLE_USER') %}
						{% if(site_config.ads_config.enable) %}
							{% set ad = site_config.ads_config.ad_slots.google_square_wide_small %}
							<div class="section semi-far sect-sidebar-ad">
								<div class="ad-box square-wide-small" data-placeholder="{% trans from 'stack' %}placeholder.sponsor{% endtrans %}">
									{% if(ad is defined and ad is not null) %}
										{{ ad|raw }}
									{% endif %}
								</div>
								<div class="info-desc"><a href="{{ path('signup') }}">{% trans from 'stack' %}message.remove_ads{% endtrans %}</a></div>
							</div>
						{% endif %}
                    {% endif %}
					#}
					
					{% if(latestRepliedThreadUnits is defined and latestRepliedThreadUnits) %}
                    <section class="semi-far">
                        <h3 class="mainUpper bold">{% trans %}title.latest_replied_threads{% endtrans %}</h3>
                        <ul class="link-list">
                            {% for latestRepliedThreadUnit in latestRepliedThreadUnits %}
                                <li><a href="{{ path('thread', {slug: latestRepliedThreadUnit.thread.slug}) }}">{{ latestRepliedThreadUnit.thread.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                    {% endif %}
					
					{% include('default/includes/sidefooter.html.twig') %}
                    
                </div>

            </div>
        </div>
    </div>
                
   
    {% include('default/footer.html.twig') %}
{% endblock %}
