body.layout-messages .wrapper-in {
	padding:0;
}

.messenger {
	position:fixed;
	top:46px;
	width:1000px;
	bottom:0;
	border-left:1px solid #e8e8e8;
	border-right:1px solid #e8e8e8;
}

.messenger .left-col {
	position:absolute;
	left:0;
	top:0;
	width:268px;
	width:287px;
	height:100%;
	border-right:1px solid #e8e8e8;
	border-bottom:3px solid #e8e8e8;
}

.messenger .left-col .bar {
	position:absolute;
	left:0;
	width:100%;
	height:45px;
	border-bottom:1px solid #e8e8e8;
	padding:12px;
	z-index:2;
}

.messenger .left-col .bar:hover {
	background-color:#fbfbfb;
}

.messenger .left-col .bar .title {
	font-weight:bold;
	font-size:16px;
}


.messenger .conversations {
	position:absolute;
	left:0;
	top:45px;
	width:100%;
	bottom:0;
	overflow:hidden;
}

.messenger .conversation-list {
}

.messenger .conversation-list:empty:before {
	content:attr(data-placeholder);
	margin-top:36px;
	text-align:center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
	display:block;
}

.conversations .scrollbar-w {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
}

.conversation-list .unit {
	padding:12px;
	border-bottom:1px solid #e8e8e8;
	position:relative;
}

.conversation-list .unit:hover {
	background-color:#fbfbfb;
}

.conversation-list .unit.focused:before {
	content:"";
	position:absolute;
	left:0;
	top:-1px;
	bottom:-1px;
	width:4px;
	background-color:#f00;
	z-index:2;	
}

.conversation-list .unit .date {
	position:absolute;
	right:12px;
	top:12px;
	background-color:inherit;
	padding:1px 5px;
	font-size:12px;
	z-index:2;
	color:#aaa;
	line-height:1;
	cursor:pointer;
}

.conversation-list .unit .message-prelude {
	font-size:12px;
	color:#aaa;
	margin-top:8px;
	white-space:nowrap;
	max-width:100%;
	overflow-x:hidden;
	text-overflow:ellipsis;
}

.conversation-list .unit.unread {
	background-color:#F7F7F7;
}
	
.conversation-list .unit .profile-card-sm .name {
	font-weight:bold;
}

.conversation-list .unit:last-child {
}

.messenger .right-col {
	position:absolute;
	right:0;
	top:0;
	height:100%;
	width:730px;
	width:711px;
}

.alert-messenger-centered {
	margin-top:36px;
	text-align:center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.messenger .right-col .bar {
	position:absolute;
	left:0;
	width:100%;
	height:45px;
	border-bottom:1px solid #e8e8e8;
	padding:12px;
	z-index:2;
}

.messenger .right-col .bar .title {
	font-weight:bold;
	font-size:16px;
}

.messenger .note {
	font-weight:bold;
	font-size:12px;
	color:#cc0000;
}

.messenger .btn {
	border-radius:1px;
}

.messenger .right-col .conversation-body {
	left:0;
	top:0;
	width:100%;
	bottom:185px;
	position:absolute;
	z-index:1;
	overflow:hidden;
}

.messenger .conversation-body .message-list:empty:before {
	content:attr(data-placeholder);
	margin-top:36px;
	text-align:center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
	display:block;
}

.messenger .right-col.w-composer .conversation-body:before,
.messenger .right-col.w-composer .conversation-body:after
{
	content:"";
	position:absolute;
	left:0;
	right:0;
	height:2px;
	background-color:rgba(0,0,0,0.07);
	z-index:3;
}

.messenger .right-col .conversation-body:before {
	top:0;
}

.messenger .right-col .conversation-body:after {
	bottom:0;
}

.messenger .conversation-body .scrollbar-w {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.messenger-body.w-bar .conversation-body {
	top:45px;
}

.messenger .message-unit {
	padding:12px;
	border-bottom:1px solid #e8e8e8;
	position:relative;
}

.messenger .message-unit .prelude {
	font-size:13px;
	color:#999;
	padding-right:120px;
}

.messenger .message-unit .profile-card {
	font-size:13px;
}
	
.messenger .message-unit .profile-card .avatar {
    height: 16px;
    margin-bottom: 2px;
    margin-right: 6px;
    vertical-align: middle;
    width: 16px;
}

.messenger .message-unit.folded {
	background-color:#F7F7F7;
	padding:0;
}

.messenger .message-unit.open:last-child {
	border-bottom:none;
}

.messenger .message-unit .date {
	background-color:inherit;
	padding:1px 5px;
	font-size:12px;
	z-index:2;
	color:#aaa;
	line-height:1;
}

.messenger .message-unit .header {
	cursor:pointer;
}

.messenger .message-unit.folded .header {
	padding:12px;
}
	
.messenger .message-unit.folded .content,
.messenger .message-unit.folded .action-bar,
.messenger .message-unit.folded .profile-card .title
{
	display:none;
}

.messenger .message-unit.open .prelude,
.messenger .message-unit.open .header > .date
{
	display:none;
}

.messenger .message-unit.folded .date {
	position:absolute;
	right:12px;
	top:50%;
	margin-top:-7px;
}

.messenger .message-unit .action-bar {
	position:absolute;
	top:12px;
	right:12px;
	z-index:2;
	color:#aaa;
}

.messenger .message-unit .profile-card .name {
	font-weight:bold;
}

.messenger .message-unit .profile-card .meta {
	color:#999;
}

.messenger .message-unit .content {
	font-size:13px;
	margin:8px 0 12px 22px;
    word-break: break-word;
}

.messenger .message-unit .content p {
    margin: 1em 0;
}
	
.messenger .message-unit .content blockquote {
	font-style: italic;
    margin: 0.25em 0 0 0.5em;
    padding: 0 0 0 1em;
    border-left: 2px solid gray;
    font-size: inherit;
    font-weight: inherit;
}

.messenger .message-unit .content pre {
	margin: 1em 0;
    background: #f4f4f4;
    color: #000;
    word-wrap: normal;
    overflow: auto;
    padding: 5px;
    max-height: 600px;
    border-radius: 0;
    font-size: 13px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}

.messenger .message-unit .content img {
	max-width:100%;
}

.messenger .main-composer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:3;
}

.messenger .main-composer .panel {
	margin:0;
	border-radius:0;
	border-left:0;
	border-right:0;
	border-color:#e8e8e8;
}


.messenger .right-col .bar .title input[type="text"],
.messenger .right-col .bar .title input[type="text"]:focus
{
	border:none;
	outline:none;
	box-shadow:none;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	padding:12px;
}

.messenger .right-col .search-widget-w {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.messenger .right-col .search-widget-r {
	width:480px;
	font-size:14px;
	margin-top:0;
}

.messenger .right-col .search-widget-r .avatar,
.messenger .right-col .search-widget-r .img-ph {
	width:24px;
	height:24px;
}

.messenger .conversation-action-bar .dropdown-menu {
	font-size:12px;
	left:auto;
	right:-8px;
	margin-top:8px;
}


.messenger .message-unit .action-bar .dropdown-menu {
	font-size:12px;
	left:auto;
	right:-8px;
	margin-top:8px;
}