/*
 *  Post
 */

body.layout-post-view {
    background:#EEEEEE;
}
.post {
    position:relative;
}

.post header {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 14px;
    position:relative;
}

.post-options {
    position: absolute;
    right: 0.65cm;
    top: 0.45cm;
    font-size: 13px;
}

.post-options .dropdown-menu {
    font-size:13px;
    margin-top:3px;
}

.post-options .glyphicon {
    color: #999;
    font-size: 20px;
    padding: 5px 9px 5px;
    border-radius: 3px;
    line-height: 1;
    cursor: pointer;
}

.post-options .glyphicon:hover,
.post-options.open .glyphicon {
    background: #eee;
}

.post header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.post header .author-link {
    margin-bottom:12px;
}

.post header .author-link a {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-decoration:none;
    color:#666;
    letter-spacing:0;
}

.post header .author-link a:hover {
    color:#888;
}

.post header .post-details {
    color:#aaa;
    font-size:12px;
}

.post {
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.15);
    margin: 0 0 24px 0;
    width: 21cm;
    padding: 1.65cm;
    background-color:#fff;
    float:left;
}

.post-aside {
    float:left;
    padding:12px 18px 12px 12px;
    border-radius:0 3px 3px 0;
    background:#fff;
    margin-top:6px;
    border-width:1px 1px 1px 0;
    border-style:solid;
    border-color:#e2e2e2;
    width: 196px;
    font-size:12px;
    color:#666;
    box-shadow:inset 2px 0 3px rgba(0,0,0,0.1);
}

.post-aside section {
    margin-bottom:1.65em;
}

.post-aside section:last-child {
    margin-bottom:0;
}

.post-aside h3.mainUpper {
    font-weight:bold;
    margin-top:0;
    color:#999;
}

.post .post-content {
    font-size:15px;
    line-height:1.65em;
    font-family:'Georgia', Arial, sans-serif;
    color:#000;
}

.post header .ajax_star_post {
    display:inline-block;
    padding: 1px 3px;
    border-radius: 4px;
    font-weight: normal;
    color:#888;
    vertical-align:text-bottom;
    font-size:11px;
    position:absolute;
    right:0;
    bottom:3px;
}

.ajax_star_post {
    cursor:pointer;
}

.ajax_star_post.starred {
    font-weight:bold;
}

.ajax_star_post.starred,
.ajax_star_post.stary.starred {
    background-color: #FFD700;
    color:#fff !important;
}

.ajax_star_post.stary {
    background-color: #FFD700;
    color:#fff !important;
}

.golden {
    color:#FFD700;
}

.ajax_star_post:hover .ajax_star_str {
    text-decoration:underline;
}

.jsProfileCard {
    display:inline-block;
    position:relative;
}

.img-ph,
.icon-ph {
    background-color: #eee;
    vertical-align: top;
    display: inline-block;
    border-radius: 2px;
}

.text-style-null
{
    font-style:italic;
    text-transform:uppercase;
    color:rgba(0,0,0,0.4);
}

.bullet {
    margin:0 1px;
}

/* Reputation Card */

.reputation-card {
    border:1px solid #e8e8e8;
    border-bottom-width:3px;
    color:#6E7E8D;
    font-size:12px;
    position:relative;
    line-height:1;
}

.reputation-card-list .reputation-card:last-child {
    border-bottom:none;
}

.reputation-card-list .reputation-card {
    border-width:0 0 1px 0;
}

.reputation-card .icon {
    width:16px;
    height:16px;
    border-radius:3px;
    vertical-align:top;
}

.reputation-card .separator {
    height:1px;
    background:#eee;
    margin:0 12px;
}

.reputation-card .bold {
    color:#333;
}

.reputation-card .top,
.reputation-card .bottom {
    padding:12px;
}

.reputation-card .top:after,
.reputation-card .bottom:after {
    content:"";
    display:table;
    clear:both;
}

.reputation-card .c-left,
.reputation-card .c-right {
    float:left;
}

.reputation-card .top .c-left {
    width:16px;
    margin-right:10px;
}

.reputation-card .top .c-right {
    line-height:1;
    max-width:85%;
    padding-top:2px;
}

.reputation-card .top .c-right .title-w {
    white-space:nowrap;
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis
}

.reputation-card .bottom .c-left {
    width:50%;
}

.reputation-card .bottom .c-right {
    width:50%;
}

.reputation-card .subtitle {
    text-transform:uppercase;
    font-weight:normal;
    font-size:10px;
}

.reputation-card .title {
    font-weight:bold;
    color:#333;
}

.reputation-card .meta {
    margin-top:4px;
    font-size: 11px;
}

.reputation-card .meta .count {
    font-family: monospace;
}

.reputation-card .surface {
    position:relative;
    z-index:1;
    background:none;
}

.reputation-card .activity {
    position:absolute;
    z-index:0;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/* Figures */

.fig-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #ccc;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(255,255,255,0.8) inset;
    display:inline-block;
}

.fig-dot.green {
    background: #1c2;
}

.fig-dot.orange {
    background: #ea2;
}

.fig-dot.red {
    background: #c12;
}

/* Main Filters Section */

.sect-filters {
    border-top:1px solid #e8e8e8;
}

/* Input Invite */

.inp-invite-w {
    position:relative;
}

.inp-invite-w .resp-area {
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    right:0;
    border:1px solid #e2e2e2;
    border-top:none;
    display:none;
}

.inp-invite {
    border:1px solid #e2e2e2;
    width:100%;
    padding-left:16px;
    line-height:normal;
    height:24px;
}

.inp-invite:focus {
    border-color:#e0e0e0;
    outline:none;
    box-shadow:none;
}

.inp-invite:focus + .resp-area {
    display:block;
}

.inp-symbol {
    position:absolute;
    left:0;
    right:0;
    top:50%;
    margin-top:-0.5em;
    height:1em;
    width:15px;
    left:1px;
    background:#fff;
    z-index:1;
    background-image:url('../stack/ui-icons-grey.png');
    background-position: -16px -132px;
    opacity:0.6;
}

/* User Cards */

.usercards {
    font-size:14px;
}

.usercards .location,
.usercards .meta
{
    font-size:13px;
    display:block;
}

.usercards .name {
    color:#286090;
    font-weight:bold;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.usercards .usercard:after {
    content:"";
    display:table;
    clear:both;
}

.usercards .usercard-left,
.usercards .usercard-body
{
    float:left;
}

.usercards-sm {
    font-size:13px;
}

.usercards.usercards-sm .location {
    font-size:12px;
}

.usercards .usercard img {
    border-radius:2px;
    width:100%;
}

.usercards.usercards-sm .usercard-left {
    width:32px;
    margin-right:8px;
}

.usercards-sm.usercards-h {
    margin-bottom:-8px;
}

.usercards-sm.usercards-h .usercard {
    margin-bottom:8px;
    border-bottom:1px solid #e8e8e8;
    padding-bottom:3px;
}

/*
 * Mobile uyumlu hale getirilmeli
 */

.usercards-sm.usercards-h .col-md-12:nth-last-child(1) .usercard,
.usercards-sm.usercards-h .col-md-6:nth-last-child(1) .usercard,
.usercards-sm.usercards-h .col-md-6:nth-last-child(2):nth-child(odd) .usercard,
.usercards-sm.usercards-h .col-md-6:nth-last-child(2):nth-child(odd) + .col-md-6 .usercard
{
    border-bottom:0;
}

/* Form */


/* btn-br */

.btn-br {
    padding: 0.3625em 1.3em;
    display:inline-block;
    color: #333;
    cursor:pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #ccc;
    line-height: 13px;
    line-height:1.35em;
    text-decoration:none;
    border-radius:3px;
}

.btn-group .btn-br.btn-active:before {
    content:"\f00c";
    font-family:'FontAwesome';
    font-size:16px;
    position:absolute;
    right:6px;
    bottom:5px;
    color:#2C9F42 !important;
    z-index:3;
    opacity:1 !important;
}

.btn-group .btn-br:focus {
    border-color:#2C9F42;
    box-shadow:none;
}

.btn-br.btn-br-sm {
    font-size:11px;
}

.btn-br:active {
    border-color: #51a7e8;
    box-shadow:inset 0 2px 5px -1px rgba(0,0,0,0.2) !important;
    color:#000;
    background-image: -webkit-linear-gradient(#e0e0e0, #e4e4e4) !important;
    background-image: linear-gradient(#e0e0e0, #e4e4e4) !important;
}

.btn-br:focus {
    border-color: #51a7e8;
    outline: none;
    color:inherit;
    box-shadow: 0 0 5px rgba(81,167,232,0.5);
    text-decoration:none;
}

.btn-br:hover {
    color:#222;
    background-image: -webkit-linear-gradient(#ececec, #ddd);
    background-image: linear-gradient(#ececec, #ddd);
    text-decoration:none;
}

/* Page Plate */

.page-plate {
    padding: 12px;
    background-color: #F6F6F6;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
}

.page-in {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    padding: 12px;
}

/* btn-m */

.btn-m {
    color: #fff !important;
    text-decoration: none !important;
    line-height: 1;
    border-radius: 5px;
    font-weight: bold !important;
    cursor: pointer;
    padding: 0.5em 1.25em 0.5em;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-width:1px;
    border-style:solid;
}

.btn-m-blue {
    background: #287bbc;
    background: -moz-linear-gradient(top, #287bbc 0%, #24679f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#287bbc), color-stop(100%,#24679f));
    background: -webkit-linear-gradient(top, #287bbc 0%,#24679f 100%);
    background: -o-linear-gradient(top, #287bbc 0%,#24679f 100%);
    background: -ms-linear-gradient(top, #287bbc 0%,#24679f 100%);
    background: linear-gradient(to bottom, #287bbc 0%,#24679f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#287bbc', endColorstr='#24679f',GradientType=0 );
    border-color: #1B5480;
}

.btn-m:not(.btn-disabled):active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
}

.btn-m:not(.btn-disabled):focus {
    outline:none;
}

/* Orange Tabs */

.orange-tabs {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 1.65em;
    font-size:13px;
}
.orange-tabs.orange-tabs-flat {
    border:none;
}

.orange-tabs.orange-tabs-flat > ul > li {
    margin:0;
}

.orange-tabs.orange-tabs-flat > ul > li > a,
.orange-tabs.orange-tabs-flat > ul > li > a:hover,
.orange-tabs.orange-tabs-flat > ul > li > a:focus
{
    border:none;
    border-right:1px solid #e2e2e2;
    text-decoration:none;
}

.orange-tabs.orange-tabs-flat > ul > li.active > a,
.orange-tabs.orange-tabs-flat > ul > li.active > a:hover,
.orange-tabs.orange-tabs-flat > ul > li.active > a:focus
{
    border:none;
    border-right:1px solid #e2e2e2;
}

.orange-tabs.orange-tabs-flat > ul > li:last-child > a {
    border-right:none !important;
}

.orange-tabs.orange-tabs-sm > ul > li > a {
    padding:8px 12px;
}

.orange-tabs.orange-tabs-xs {
    font-size:12px;
}

.orange-tabs.orange-tabs-xs > ul > li > a:hover,
.orange-tabs.orange-tabs-xs > ul > li > a:focus
{
    text-decoration:none;
}

.orange-tabs > ul {
    border:none;
}

.orange-tabs > ul > li {
    float: left;
    margin-left: 0;
    margin-right: 2px;
}

.orange-tabs > ul > li.active > a {
    color: #0f0f0f;
    background: #fff;
    position: relative;
    border: 1px solid #ddd;
    border-top: 2px solid #F60;
    border-bottom: 1px solid #fff;
    cursor: default;
    text-decoration: none;
    font-weight:bold;
}

.orange-tabs > ul > li.active > a:hover,
.orange-tabs > ul > li.active > a:focus
{
    border: 1px solid #ddd;
    border-top: 2px solid #F60;
    border-bottom: 1px solid #fff;
    text-decoration:none;
}

.orange-tabs > ul > li > a,
.orange-tabs > ul > li > span {
    display: block;
    line-height: 1;
    padding: 0.825em 1.65em;
    border: 1px solid transparent;
    border-bottom:1px solid #fff;
    border-radius:0;
    color: rgba(0, 0, 0, 0.5);
    margin:0;
}

.orange-tabs.orange-tabs-xs > ul > li > a,
.orange-tabs.orange-tabs-xs > ul > li > span {
    padding: 0.225em 0.65em;
}

.orange-tabs > ul > li > a:hover,
.orange-tabs > ul > li > a:focus 
{
    color: #0f0f0f;
    text-decoration: underline;
    background-color: #eee;   
    border-bottom:1px solid #fff;
}

.avatar-list-sm {
    list-style:none;
    margin:0;
    padding:0;
}

.avatar-list-sm li {
    margin: 0 3px 3px 0;
}

.avatar-list-sm img {
/*    border-radius:50%;*/
    width:20px;
    height:20px;
    background-color:#fbfbfb;
}

.avatar-list-md li {
    margin: 0 4px 4px 0;
}

.avatar-list-md img {
    width:32px;
    height:32px;
    border-radius:3px;
}

.topics-text-list-sm {
    margin:0;
    padding:0;
    list-style:none;
    font-size:12px;
}

.topics-text-list-sm li:after {
    content:", "
}

.topics-text-list-sm li:last-child:after {
    content:none;
}

.groups-icon-list-md {
    margin:0;
    padding:0;
    line-height:1.2;
    font-size: 12px;
    color: #666;
}

.groups-icon-list-md li {
    margin-bottom:0.5em;
    position:relative;
}

.groups-icon-list-md li .news {
    position:absolute;
    right:0;
    top:3px;
}

.groups-icon-list-md li img {
    height:15px;
    width:15px;
    margin-right:10px;
    vertical-align:top;
    border-radius:2px;
}

.groups-icon-list-md li .img-ph {
    height:15px;
    width:15px;
    background-color:#eee;
    margin-right:10px;
    vertical-align:top;
    display:inline-block;
    border-radius:2px;
}

.groups-icon-list-md a {
    color: #666;
    font-weight: bold;
    display: block;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    position:relative;
    z-index:2;
    padding:0.25em 0;
    border-radius:2px;
}

.groups-icon-list-md .w-news a {
    padding-right:28px;
}

.groups-icon-list-md li.no-icon a {
    padding-left:25px;
}

.groups-icon-list-md > li > a:hover,
.groups-icon-list-md > li.active > a
{
    background:#f4f4f4;
    box-shadow:-0.25em 0 0 #f4f4f4;
}


.avatar-big {
    height:64px;
    width:64px;
/*    border-radius:3px;*/
}

.avatar-md {
    height:32px;
    width:32px;
/*    border-radius:2px;*/
}

.avatar-small {
    height:20px;
    width:20px;
/*    border-radius:50%;*/
    background:#fbfbfb
}

.avatar-em {
    height:1em;
    width:1em;
    border-radius:50%;
    background:#fbfbfb
}

.btn-addtocart {
    display:block;
    border:none;
    border-radius:2px;
    font-weight:bold;
    padding:0;
    border-radius:2px;
    box-shadow:0 1px 1px rgba(0,0,0,0.3);
}

.btn-addtocart:active {
    box-shadow:0 1px 1px rgba(0,0,0,0.2);    
}

.btn-addtocart:after {
    content: "";
    display: table;
    clear: both;
}

.btn-addtocart .btn-right {
    display:block;
    float:left;
    width:75%;
    border-radius:0 2px 2px 0;
    border-width:1px 1px 1px 0;
    border-style:solid;
    border-color:rgba(0,0,0,0.1);
}

.btn-addtocart.btn-lg:before,
.btn-addtocart.btn-lg .btn-right
{
    padding: 10px 16px
}

.btn-addtocart.btn-m:before,
.btn-addtocart.btn-m .btn-right
{
    padding:6px 12px
}

.btn-addtocart.btn-sm:before,
.btn-addtocart.btn-sm .btn-right
{
    padding:5px 10px;
}

.btn-addtocart.btn-xs:before,
.btn-addtocart.btn-xs .btn-right
{
    padding:1px 5px;
}

.btn-addtocart:before {
    content:"\2b";
    font-family:'Glyphicons Halflings';
    display:block;
    float:left;
    width:25%;
    font-weight: bold;
    color: rgba(0,0,0,1);
    text-shadow: 1px 1px rgba(255,255,255,0.3);
    background: #fec007;
    background: -moz-linear-gradient(top,  #fec007 0%, #fe8407 100%);
    background: -webkit-linear-gradient(top,  #fec007 0%,#fe8407 100%);
    background: linear-gradient(to bottom,  #fec007 0%,#fe8407 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec007', endColorstr='#fe8407',GradientType=0 );
    font-weight:normal;
    border-right:0;
    border-radius:2px 0 0 2px;
    border:none;
}

.btn-addtocart .btn-right {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
    border:none;
    font-weight:bold;
    display:block;
}

.btn-addtocart.btn-addtocart-added:before {
    content:"\e013";
}

.btn-addtocart.btn-addtocart-added:before {
    background: #C0FE07;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(#C0FE07,0),color-stop(#84FE07,1));
    background: -webkit-linear-gradient(top, #C0FE07 0%, #84FE07 100%);
    background: -moz-linear-gradient(top, #C0FE07 0%, #84FE07 100%);
    background: -o-linear-gradient(top, #C0FE07 0%, #84FE07 100%);
    background: linear-gradient(top, #C0FE07 0%, #84FE07 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEC007', endColorstr='#84FE07',GradientType=0 );
}

/* Custom Tables  */


.table-georgia {
    width:100%;
    margin:0;
    font-family:'Georgia', Arial, sans-serif;
    font-size:12px;
    color:#000;
    line-height:1.65;
}

.table-georgia.table-georgia-black thead,
.table-georgia.table-georgia-black tbody,
.table-georgia.table-georgia-black tfoot {
    border-color:#000;
}

.table-georgia a {
    text-decoration:none;
    color:#000;
}

.table-georgia a:hover {
    text-decoration:underline;
}

.table-georgia thead {
    border-bottom: 1px solid #aaa;
}

.table-georgia tfoot {
    border-top: 3px double #aaa;
}

.table-georgia td,
.table-georgia th {
    padding:0;
    border:none;
    vertical-align:top;
}

.table-georgia td.alert-empty-td {
    padding:0 12px;
}

.table-georgia [type="checkbox"],
.table-georgia [type="radio"] {
    vertical-align:middle;
    margin:0;
    position:relative;
    top:-1px;
}

.table-georgia .cmd-btns {
    margin-top:1px;
    font-family:'Arial',sans-serif;
}

.table-georgia .cmd-btns li {
    margin-right:5px;
}

.table-georgia .cmd-btns .btn-jump {
    padding:0;
    background:none;
    border:none;
    outline:none;
    box-shadow:none;
}


.btn-jump {
    position:relative;
    text-decoration:none;
}

.btn-jump:hover {
    top:-1px;
    text-decoration:underline;
}

/* Breadcrumbs  */

.breadcrumb.custom-breadcrumb {
    background:none;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    padding:0;
    color: #aaa;
}

.breadcrumb.custom-breadcrumb li {
    float: left;
    margin-right: 10px;
    line-height: 1.5;
}

.breadcrumb.custom-breadcrumb li a {
    text-decoration: none;
    color: #aaa;
}

.breadcrumb.custom-breadcrumb li a:hover {
    color: #666;
}

.breadcrumb > li + li:before {
    content: "\f0da";
    margin-right: 10px;
    font-family: 'FontAwesome';
    color: #aaa;
    padding:0;
}

/*
 * Plugins
 */

/*
 * Home
 */

.col-body .col-body-headings {
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: 1px solid #e2e2e2;
    position:relative;
}

.col-body .col-body-headings h3.mainUpper {
    margin:0;
    padding:0;
    border:none;
}

.col-body-headings .channel-btns {
    position:absolute;
    right:0;
    bottom:2px;
    font-size:12px;
}

.col-body-headings .channel-btns .dropdown-menu {
    font-size:12px;
    min-width:initial;
}

.feed-area .panel .cover {
    max-width:100%;
    box-shadow:0 2px 1px -1px rgba(0,0,0,0.3);
}

.feed-area .panel-heading,
.feed-area .panel-footer {
    background:#FBFBFB;
}

.feed-area .panel,
.feed-area .panel-heading,
.feed-area .panel-body,
.feed-area .panel-footer {
    border-color:rgba(0,0,0,0.1);
}

.feed-area .panel {
    box-shadow:none;
    margin-bottom:12px;
    border-radius:0;
    border-bottom-width:3px;
}

.feed-area .panel-heading {
    font-size: 13px;
    border-bottom: 1px solid #e2e2e2;
    padding: 6px;
    background: #fbfbfb;
    margin: 0;
    line-height: 1.25;
}

.feed-area .panel-heading .media {
    color:#aaa;   
}

.panel-body {
    padding:12px;
}

.feed-story-discussion .panel-body-scroll {
    max-height:320px;
    overflow:hidden;
}

.feed-story-discussion .scrollbar-macosx > .scroll-element .scroll-bar {
    opacity:0.2;
}

.panel-footer {
    padding:6px 8px;
}

.panel .feed-heading {
    margin-bottom:3px;
}

.feed-in-headings {
    margin-bottom: 9px;
    padding-bottom: 3px;
    border-bottom: 1px solid #eee;
}

.feed-in-headings .feed-in-title {
    margin-bottom:0;
}

.feed-in-meta {
    line-height:1;
}

.feed-in-meta .author-link {
    color: #666;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.feed-in-meta .author-link:hover {
    text-decoration:none;
    color:#888;
}

.feed-area .panel .media-left {
    padding-right:6px;
}

.feed-area .panel .feed-heading a {
    color:#337AB7;
    font-weight:bold;
}

.feed-area .panel .feed-meta {
    font-size:11px;
    margin:0;
}

.feed-in-title {
    font-size:13px;
    margin:0 0 0.5em 0;
    font-weight:bold;
}

.feed-in-title a {
    color: #000;
    text-decoration: none;
}

.feed-in-title a:hover {
    text-decoration:underline;
}

.feed-in-content {
    line-height:1.4;
    font-size:13px;
}

.feed-product-new .feed-in-headings,
.feed-product-recommend .feed-in-headings
{
    border-bottom:1px solid #f1f1f1;
    padding-bottom:6px;
}

.feed-product-new .feed-in-title,
.feed-product-recommend .feed-in-title
{
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1;
    width:75%;
    display:block;
    float:left;
}

.feed-product-new .feed-in-price,
.feed-product-recommend .feed-in-price
{
    width:25%;
    float:left;
    text-align: right;
    font-size: 22px;
    color: #000;
    font-weight: bold;
    line-height: 1;
}

.feed-product-new .feed-in-price sup,
.feed-product-recommend .feed-in-price sup
{
    font-size: 11.25px;
    line-height: 0;
    position: relative;
    top:-0.3em;
}

.feed-product-recommend .feed-in-meta {
    margin-top:4px;
}

.feed-product-new .feed-in-content,
.feed-product-recommend .feed-in-content
{
    font-size: 12px;
    line-height: 1.65em;
    margin-top: 8px;
    word-wrap: break-word;
    color: #516481;
}

.feed-product-new .panel-body .media-left,
.feed-product-recommend .panel-body .media-left
{
    width:30%;
    padding-right:0;
}

.panel-body .media-left .btn-addtocart-w {
    margin-top:10px;
}

.feed-product-new .panel-body .media-body,
.feed-product-recommend .panel-body .media-body
{
    padding-left:12px;
}

.panel-body .cover {
    border-radius:3px;
}

.feed-advices-products .panel-heading {
    font-weight:bold;
    color:#000;
    font-size:12px;
}

.feed-area-list .feed-post {
    font-size:13px;
    border-bottom:1px solid #e8e8e8;
}
.feed-area-list .feed-post:last-child {
   border-bottom:none;
}

.feed-area-list .feed-post .feed-in-title {
    font-weight:bold;
}

.feed-area-list .feed-post .meta {
    font-size:0.9em;
    color:#545454;
}

.feed-area-list .feed-post .meta .recommended {
    color:#006621;
}

/*
 * Right Column
 */

.main-widget {
    background:#fbfbfb;
    border-radius: 3px;
    box-shadow: 0 0 2px #ccc, 0 3px 3px -2px rgba(0,0,0,0.3);
}

.widget-switcher-title {
    letter-spacing: 1px;
    font-weight: 600;
    color: #666;
    font-size: 12px;
    padding: 12px 12px 12px 42px;;
    display: block;
    margin: 0;
    border-bottom: 1px solid #e2e2e2;
    text-transform: uppercase;
    position:relative;
}

.main-widget-heading .caret-w {
    position:absolute;
    left:0;
    bottom:0;
    top:0;
    width:32px;
    border-right:1px solid #e2e2e2;
    text-align:center;
    color:#666;
    z-index:3;
    padding-top:6px;
}

.main-widget-heading .caret-w a {
    color:#666;
    display:block;
}

.main-widget-heading .caret-w .dropdown-menu  {
    box-shadow:none;
    margin-top:0;
    left:-1px;
    border-top:0;
    border-color:#e2e2e2;
}

.main-widget-heading .caret-w .dropdown-menu [type="checkbox"],
.main-widget-heading .caret-w .dropdown-menu [type="radio"]
{
    margin:0;
    vertical-align:text-top;
}

.main-widget-heading .caret-w .dropdown-menu a {
    letter-spacing: 1px;
    color: #666;
    font-size: 11px;
    padding: 0.5em 1em;
    display: block;
    border-bottom: 1px solid #e2e2e2;
    text-transform: uppercase;
    position: relative;
    font-weight:normal;
}

.main-widget-heading .caret-w .dropdown-menu li:last-child a {
    border-bottom:0;
}

.widget-basket {
    font-size: 11px;
    line-height: 1.3;
}

.widget-basket .cart-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 1;
}

.widget-basket .cart-item:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-image: url('../stack/bottom-shadow.png');
    background-size: cover;
    opacity: 0.05;
    z-index: -1;
}

.widget-basket .cart-item .media .media-object {
    width:36px;
    display:inline;
}

.widget-basket .cart-item .media-body .item-link {
    display: block;
    font-weight: bold;
    margin-bottom: 0.2em;
    color: #000;
    text-decoration:none;
}

.widget-basket .cart-item .media-body .item-link:hover {
    text-decoration:underline;
}

.widget-basket-complete-w {
    padding:10px;
    border:none;
}

.btn-widget-basket-complete-w {
    background: #ffffff;
    line-height: 1;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-widget-basket-complete-w .price {
    padding: 9px 0.5em 8px;
    border-top: 1px solid #ffaa44;
    border-bottom: 1px solid #ffaa44;
    border-left: 1px solid #ffaa44;
}

.btn-widget-basket-complete a:before {
    content: "";
    background-image: url('../stack/cart-icon.png');
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: cover;
    z-index: 9;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 1em;
}

.btn-widget-basket-complete a:after {
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -6px;
    background-image: url('../stack/left-triangle.png');
    height: 12px;
    width: 8px;
    margin-right: -1px;
    z-index: 2;
}

.btn-widget-basket-complete a {
    padding: 9px 1em 8px 34px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0,0,0,0.4);
    position: relative;
    z-index: 1;
    background: #ff8400;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(#ff8400,0),color-stop(#ff6600,1));
    background: -webkit-linear-gradient(top, #ff8400 0%, #ff6600 100%);
    background: -moz-linear-gradient(top, #ff8400 0%, #ff6600 100%);
    background: -o-linear-gradient(top, #ff8400 0%, #ff6600 100%);
    background: linear-gradient(top, #ff8400 0%, #ff6600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8400', endColorstr='#ff6600',GradientType=0 );
    border: 1px solid #ff5a00;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset;
}

.btn-widget-basket-complete a:hover {
    box-shadow: 0px 1px 1px rgba(255,255,255,0.5) inset;
    color:#fff;
}

.btn-widget-basket-complete a:focus {
    color:#fff;
}

.btn-widget-basket-complete a:active {
    box-shadow: none;
    color:#fff;    
}

.topic-headings .rss-icon {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 10px;
    text-decoration: none;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url('../stack/rss-icon.png');
    background-size: contain;
    z-index:1;
}

.topics-filter {
    padding: 12px;
    margin-bottom: 8px;
    border-bottom: 1px solid #f1f1f1;
}

.topics-filter-input {
    font-size: 12px;
    width:100%;
    border-radius:3px;
    line-height: normal;
    background: #ffffff;
    border: 1px solid #cccccc;
    position: relative;
    z-index: 1;
    padding:0.3em 0.35em;
    transition:none;
}

.topics-filter-input:focus {
    outline: none;
    border-color: #2575ed;
    box-shadow: 0 0 0 2px rgba(37, 117, 237, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.topic-headings .topics-list {
    overflow-x: hidden;
    overflow-y: auto;
    width: 248px;
    max-height: 348px;
}

.topic-content .feed-area-list {
    padding:0 12px;
}

/*
 * Market
 */
 
.table-cart {
    font-size:13px;
}

.table-cart .cmd-btns {
    font-size:12px;
}

.row.market-list {
    font-size: 11px;
    line-height: 1.3;
    padding:0;
    margin:0;
}

.market-list .item-unit {
   color:#000;
   margin-bottom: 24px;
}

.market-list .item-unit .cover {
    box-shadow:0 2px 1px -1px rgba(0,0,0,0.3);
    max-width:100%;
}

.market-list .item-unit:hover .cover {
    box-shadow: 0 0 0 1px #fff, 0 0 2px 1px rgba(0,0,0,0.5);
}

.market-list .item-title {
   color:#000;
   font-weight:bold;
   display:block;
   margin-bottom:3px;
}

.market-list .author-link {
   color:#000;
   text-decoration: none;
   display:block;
   margin-bottom: 0.2em;
}

.market-list .author-link:hover {
   text-decoration: underline;
}

.market-list .item-meta {
    margin-top: 6px;
}

.market-list .col-md-3 {
    width: 22.75%;
    margin-left: 3%;
    padding:0;
}

.market-list .col-md-3:nth-of-type(4n+1){
    clear:left;
    margin-left:0;
}

.market-item-headings {
    margin-bottom: 20px;
    position: relative;
    padding-right: 120px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f1f1f1;
}

.market-item-headings h1 {
    font-size: 28px;
    line-height: 1.1em;
    margin-bottom: 0.1em;
    font-size: 19px;
    color: #333;
    letter-spacing: -0.5px;
    line-height: 1.25;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1px;
    font-size: 24px;
    margin-bottom: 2px;
    padding: 0;
}

.market-item-headings .meta {
    font-size: 18px;
    color: #ccc;
    font-family: 'Georgia', Arial, sans-serif;
}

.market-item-headings .meta .author-link {
    color: #888;
}

.market-item-headings .meta .author-username {
    color: #ccc;    
}

.market-item-headings .price {
    font-size: 42px;
    line-height: 1;
    position: absolute;
    right: 0;
    bottom: 5px;
    font-weight: bold;
}

.market-item-headings .price sup {
    font-size: 0.6em;
    font-weight: normal;
    vertical-align: top;
    top: 0.6em;
}

.layout-market-item .col-left {
    width:675px;
}

.layout-market-item .col-left .in {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.layout-market-item .col-left .btn-addtocart-w {
    margin: 10px 0;
}

.layout-market-item .col-left .cover-w {
    text-align:center;
}

.layout-market-item .col-left .cover {
    box-shadow:0 2px 1px -1px rgba(0,0,0,0.3);
    width:100%;
    border-radius: 2px;
}

.layout-market-item .col-left .table-info-w {
    margin:10px;
}

.market-item-content {
    border-width:0 1px 1px 1px;
    border-style:solid;
    border-color:#ddd;
    border-radius:0 0 3px 3px;
}

.market-item-content #about {
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    padding: 1em;
    border-left: 0;
    word-wrap: break-word;
    font-family: 'Georgia', Arial, sans-serif;
}

.market-item-content #about,
.market-item-content #translations,
.market-item-content #comments {
    display:none;
}

.market-item-content #about.active,
.market-item-content #translations.active,
.market-item-content #comments.active {
    display:block;
}

.market-item-content #translations .call-to-action {
    font-size:16px;
    background:#fbfbfb;
    padding:12px;
    border-top:1px solid #e2e2e2;
    border-bottom:1px solid #e2e2e2;
}

#market-item-author {
    margin-top:40px;
}

#market-item-author h2.author-link {
    font-size:24px;
}

#market-item-author h2.author-link a {
    color:inherit;
}

#market-item-author .avatar {
    border-radius:50%;
    width:96px;
}

#market-item-author .bio {
    font-family:'Georgia', Arial, sans-serif;
    color: #666;
    font-size:16px;
    line-height: 1.4;
}

.item-tabs {
    margin:0;
}

.item-tabs > ul.nav-tabs {
    margin:0;
    list-style: none;
    font-size: 11px;
    border-bottom: 1px solid #ddd;
}

.item-tabs > ul > li:first-child {
    border-left: 1px solid #dddddd;
}

.item-tabs > ul > li {
    margin:0;
    border:none;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

.item-tabs > ul > li:first-child {
    border-left: 1px solid #dddddd;
    border-top-left-radius:3px;
}

.item-tabs > ul > li:last-child {
    border-top-right-radius:3px;
}

.item-tabs > ul > li > a {
    background: url('../stack/tab-gradient.gif') #fbfbfb;
}

.item-tabs > ul > li > a,
.item-tabs > ul > li > a:hover,
.item-tabs > ul > li > a:focus
{
    line-height: 1;
    background-size: contain;
    border:none;
    border-radius:0;
    border:none;
    font-weight: bold;
    margin:0;
    padding: 8px 16px;
    cursor: pointer;
    color: #aaa;
    text-decoration: none;
    font-size: 11px;
}

.item-tabs > ul > li:not(.active) > a:hover {
    color: #888;
    background: #fbfbfb;
}

.item-tabs > ul > li.active > a,
.item-tabs > ul > li.active > a:hover,
.item-tabs > ul > li.active > a:focus
{
    border:none;
    cursor:pointer;
}

.item-tabs > ul > li.active > a {
    box-shadow: 0 1px #fff;
    color: #333;
    background:#fff;
}

.item-tabs > ul > li:last-child > a {
    border-right: none;
}

/*
 * Shopping Cart
 */

.layout-cart .col-left h3.mainUpper {
    letter-spacing: 0;
    word-spacing: 2px;
    color: #666;
    margin: 0 0 8px 0;
    border:none;
    font-weight:bold;
}

.layout-cart .col-left section {
    margin-bottom: 1.65em;
}

.layout-cart .payment-method-box {
    box-shadow: 1px 1px 4px #E9E6E3;
    border: 1px solid #E9E6E3;
    border-radius: 3px;
    margin-bottom: 3%;
    font-size:13px;
    line-height: 1.4;
}

.layout-cart .payment-method-box label {
    font-weight:normal;
    padding: 12px 18px 12px 8px;
    cursor: pointer;
    margin:0;
}

.layout-cart .payment-method-box label.label-disabled {
    cursor: default !important;
    opacity: 0.5;
}

.spr-pymnt {
    background-image: url('../stack/payment-gateways.png');
    display: inline-block;
    vertical-align: top;
    margin-top:-2px;
}

.layout-cart .payment-method-box input[type="radio"] {
    top: 1px;
    vertical-align: text-top;
    margin:0;
    position:relative;
}

.layout-cart .payment-method-box .spr-pymnt {
    float:right;
}

.spr-pymnt--paypal {
    width: 32px;
    height: 32px;
    background-position: -32px 0;
}

.spr-pymnt--btc {
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.spr-pymnt--wallet {
    width: 32px;
    height: 32px;
    background-position: -64px 0;
}

.layout-cart .page-in {
    padding:48px;
}

.btn-proceed {
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px rgba(0,0,0,0.4);
    position: relative;
    z-index: 1;
    background: #ff8400;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(#ff8400,0),color-stop(#ff6600,1));
    background: -webkit-linear-gradient(top, #ff8400 0%, #ff6600 100%);
    background: -moz-linear-gradient(top, #ff8400 0%, #ff6600 100%);
    background: -o-linear-gradient(top, #ff8400 0%, #ff6600 100%);
    background: linear-gradient(top, #ff8400 0%, #ff6600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8400', endColorstr='#ff6600',GradientType=0 );
    border: 1px solid #ff5a00;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset;
    display: inline-block;
    border-radius: 3px;
    padding: 0;
    line-height: 1.65;
    padding: 0.3em 0.35em;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size:12px;
}

.btn-proceed:hover {
    box-shadow: 0px 1px 1px rgba(255,255,255,0.5) inset;
}

.btn-proceed:active {
    box-shadow: none;
}

.btn-proceed:focus {
    outline:none;
}

/* Dashboard Settings */

.table-dash-list {
    font-size:12px;
    margin:0;
    table-layout: fixed;
    width:100%;
    max-width:100%;
}

.table-dash-list tr,
.table-dash-list td,
.table-dash-list th {
    transition:background 0.1s;
}

.table-dash-list .meta .h-list li {
    margin-right:0.45em;
}

.table-dash-list .meta .h-list li:after {
    content:"|";
    margin-left:0.45em;
    color:#ddd;
}

.table-dash-list .meta .h-list li:last-child:after {
    content:none;
}

.table-dash-list .meta a {
    color:#777;
}

.table-dash-list .meta a:hover {
    text-decoration:underline;
}

.table-dash-list.meta-hidden .meta {
    margin-top:0.5em;
    opacity:0;
    transition:all 0.1s;
}

.table-dash-list.meta-hidden tr:hover .meta {
    opacity:1;
}

.table-dash-list tr:hover .meta a.cl-con-danger {
    color:#cc0000;
}

.table-dash-list .title {
    font-weight:bold;
    font-size:13px;
}

.table-dash-list input[type="checkbox"],
.table-dash-list input[type="radio"] {
    margin:0;
    vertical-align:text-top;
}

/* Messages */

.layout-messages .wrapper-in {
    padding:0;
    margin:0;
}

.layout-messages .page-header {
    padding-right:10px;
}

.layout-messages .col-left,
.layout-messages .col-body,
.layout-messages .col-right {
    padding-top: 0.4125cm;
    padding-bottom: 0.4125cm;
}

.layout-messages .col-body,
.layout-messages .col-right {
    overflow:hidden;    
}

.layout-messages .col-right .messagings,
.layout-messages .col-body .messages-wrapper {
    overflow:auto;
}

.layout-messages .col-right {
    margin-left:0;
    padding-left:0;
    border-left:1px solid #e2e2e2;
    border-bottom:1px solid #e2e2e2;
}

.layout-messages .col-body {
    margin-left:0;
    padding-left:20px;
    border-left:1px solid #e2e2e2;
    border-right:1px solid #e2e2e2;
    border-bottom:1px solid #e2e2e2;
    width:575px;
}

.table-messages td,
.table-messages th {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    position:relative;
}

.table-messages .unread .name,
.table-messages .unread .summary
{
    font-weight:bold;
}

.col-messagings {
    font-size:13px;
}

.messaging-unit {
    position:relative;
    padding:8px 10px;
    border-bottom:1px solid #e2e2e2;
    cursor:pointer;
}

.messaging-unit:after {
    content: "";
    display: table;
    clear: both;
}

.messaging-unit:hover {
    background:#fbfbfb;
}

.messaging-unit.active,
.messaging-unit.active:hover {
    background:#444;
    color:#fff;
}

.messaging-unit.active .name,
.messaging-unit.active .text,
.messaging-unit.active .date
{
    color:#fff;
}

.messaging-unit.unread {
    background:#f4f4f4;
}

.messaging-unit.unread:hover {
    background:#f0f0f0;
}

.messaging-unit .name {
    font-weight:bold;
    color:#333;
}

.messaging-unit .text {
    color:#aaa;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.messaging-unit .avatar {
    width:36px;
    border-radius:3px;
}

.messaging-unit .messaging-left {
    position:relative;
    float:left;
    margin-right:9px;
}

.messaging-unit .messaging-body {
    position:relative;
    float:left;
    width:78%;
}

.messaging-unit .date {
    position:absolute;
    right:0;
    top:0;
    font-size:12px;
    color:#aaa;
}

.col-messagings .orange-tabs {
    margin:0;
    padding-left:8px;
}

.layout-messages .col-right .orange-tabs > ul > li > a:hover,
.layout-messages .col-right .orange-tabs > ul > li > span:hover {
    text-decoration:none;
}

.message {
    font-size:13px;
    margin-bottom:1.65em;
    padding-right:16px;
    /*
    padding: 12px 17px 12px 12px;
    background: #fbfbfb;
    box-shadow: inset 0 -1px rgba(255,255,255,0.2), 
        0 1px 2px rgba(0,0,0,0.2);
    */
}

.message:last-child {
    margin-bottom:0;
}

.message-headings {
    position:relative;
    border-bottom:1px dotted #e0e0e0;
    padding-bottom:6px;
}

.message-body {
    padding-top:1em;
}

.message-body *:last-child {
    margin-bottom:0;
}

.message-headings img {
    vertical-align:baseline;
}

.message-headings .author-link {
    font-weight:bold;
    color:#333;
}

.message-headings .date {
    font-size:12px;
    position:absolute;
    right:0;
    bottom:6px;
}

.layout-messages .main-composer {
    position:absolute;
    left:0;
    right:0;
    padding:10px;
    background:#fbfbfb;
    border-top:1px solid #e2e2e2;
    bottom:0;
    z-index:2;
}

.layout-messages .main-composer .panel {
    margin:0;
}

.layout-messages.layout-messages-new .page-header {
    border:none;
}
.layout-messages.layout-messages-new .main-composer .panel,
.layout-messages.layout-messages-new .main-composer .panel-heading,
.layout-messages.layout-messages-new .main-composer .panel-body,
.layout-messages.layout-messages-new .main-composer .panel-footer
{
    background:#fff;
    border-radius:0;
}

.layout-messages.layout-messages-new .main-composer .composer-input {
    background:none;
}

.layout-messages-new .main-composer .panel-body {
    padding:0;
}

.layout-messages-new .redactor-toolbar {
    box-shadow:none;
    border-bottom:1px solid #e2e2e2;
}

.layout-messages-new .redactor-box {
    margin:0;
}

.layout-messages-new .redactor-editor {
    border:none;
}

.hide-unload {
    visibility:hidden !important;
}

/*
 * Message New
 */

.layout-messages-new .col-right:hover {
    opacity:1;
}

.layout-messages-new .main-composer .panel-heading {
    z-index:999;
}

.layout-messages-new .col-right {
    opacity:0.6;
    transition:opacity 0.2s;
}

.col-contacts {
    font-size:13px;
}

.layout-messages-new .contacts .top-heading {
    margin-top:0.5em;
}

.contact-unit {
    position:relative;
    padding:8px 10px;
    cursor:pointer;
}

label.contact-unit {
    display:block;
    font-weight:normal;
    width:100%;
    max-width:100%;
}

.contact-unit:after {
    content: "";
    display: table;
    clear: both;
}

.contact-unit:hover {
    background:#fbfbfb;
}

.contact-unit.active,
.contact-unit.active:hover {
    background:#444;
    color:#fff;
}

.contact-unit.active .name,
.contact-unit.active .text,
.contact-unit.active .date
{
    color:#fff;
}

.contact-unit.unread {
    background:#f4f4f4;
}

.contact-unit.unread:hover {
    background:#f0f0f0;
}

.contact-unit .name {
    font-weight:bold;
    color:#333;
}

.contact-unit .text {
    color:#aaa;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:11px;
}

.contact-unit .avatar {
    width:16px;
    height:16px;
    border-radius:3px;
    vertical-align:text-top;
}

.contacts-md .contact-unit .avatar {
    width:36px;
    height:36px;
}

.contacts-md .contact-unit {
    border-bottom: 1px dotted rgba(0,0,0,0.1);
}

.contacts-md .meta li {
    margin-right:6px;
}

.contacts-md .meta {
    font-size:11px;
    padding-left:68px;
}

.contact-unit .contact-left {
    position:relative;
    float:left;
    margin-right:9px;
}

.contact-unit .contact-body {
    position:relative;
    float:left;
    width:75%;
}

.contact-unit .contact-right {
    position:relative;
    float:right;
    width:5%;
}

.contact-unit .pin {
    position:absolute;
    right:0;
    top:0;
    font-size:12px;
    color:#aaa;
}

.contact-unit .pin input[type="checkbox"]{
    margin:0;
}

.col-contacts .orange-tabs {
    margin:0;
    padding-left:8px;
}

.col-messages .orange-tabs > ul > li > a:hover,
.col-messages .orange-tabs > ul > li > span:hover {
    text-decoration:none;
}

.contacts-headings {
    padding:0.3em 0.35em 0.3em 0;
    color:#FF6600;
    position:relative;
    font-size:12px;
}

.contacts-headings:before {
    content:"";
    position:absolute;
    left:0;
    top:50%;
    margin-top:-1px;
    height:1px;
    width:100%;
    background-color:#FF6600;
    z-index:1;
}

.contacts-headings > span {
    background:#fff;
    display:inline-block;
    position:relative;
    z-index:2;
    padding:0 0.35em 0 0.5em;
    font-weight:bold;
}

.main-composer .bootstrap-tagsinput input[type="text"] {
    font-size:14px;
    padding:0;
    margin:0;
    vertical-align:top;
}

.main-composer .bootstrap-tagsinput {
    width:100% !important;
    box-shadow:none;
    outline:none;
    border:none;
    padding:0;
    border-radius:0;
}

.main-composer .select2-container--default .select2-selection--multiple {
    box-shadow:none;
    outline:none;
    border:none;
    border-radius:0;
    padding:0;
    min-height:initial;
    height:initial;
    line-height:1;
    font-size:14px;
}

.main-composer .select2-container {
    width:100% !important;
}

.select2-dropdown {
    border:none !important;
    outline:none !important;
    border-radius: 2px !important;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15) !important;
    font-size:13px;
}

.main-composer .select2-container--default .select2-search--inline .select2-search__field {
    margin:2px 0 0 0;
    padding:0;
    font-size:14px;
    vertical-align:baseline;
}

.main-composer .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    margin:0;
    padding:0;
}

.bootstrap-tagsinput .tag.tag-contact {
    background: #fcd76f;
    background: -moz-linear-gradient(top,  #fcd76f 0%, #ffbc4d 100%);
    background: -webkit-linear-gradient(top,  #fcd76f 0%,#ffbc4d 100%);
    background: linear-gradient(to bottom,  #fcd76f 0%,#ffbc4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd76f', endColorstr='#ffbc4d',GradientType=0 );
    border:1px solid #D1912F;
    border-radius:2px;
    color:#9D663D;
    text-shadow:0 1px rgba(255,255,255,0.5);
    box-shadow:inset 0 1px rgba(255,255,255,0.2);
    font-size:12px;
    padding:0.3em 0.35em;
    line-height:1;
    font-weight:bold;
    margin-right:3px;
}

.bootstrap-tagsinput .tag.tag-contact [data-role="remove"] {
    margin-left:0.5em;
}

.bootstrap-tagsinput .tag.tag-contact [data-role="remove"]:after {
    content:"\f00d";
    font-family:'FontAwesome';
    font-size:12px !important;
    padding:0;
}

.main-composer .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #fcd76f;
    background: -moz-linear-gradient(top,  #fcd76f 0%, #ffbc4d 100%);
    background: -webkit-linear-gradient(top,  #fcd76f 0%,#ffbc4d 100%);
    background: linear-gradient(to bottom,  #fcd76f 0%,#ffbc4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd76f', endColorstr='#ffbc4d',GradientType=0 );
    border:1px solid #D1912F;
    border-radius:2px;
    color:#9D663D;
    text-shadow:0 1px rgba(255,255,255,0.5);
    box-shadow:inset 0 1px rgba(255,255,255,0.2);
    font-size:12px;
    padding:0.3em 0.35em;
    line-height:1;
    font-weight:bold;
    margin:0 3px 0 0;
    display:inline-block;
}

.main-composer .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color:#9D663D;
    vertical-align:middle;
}

.select2-results__option.select2-results__message {
    display:none !important;
}

/*
 * Contacts
 */

.contacts-abc-w {
padding:8px 0;
}

.contacts-abc {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    line-height:1;
    font-size:13px;
}

.contacts-abc li {
    display:inline-block;
    font-weight:bold;
}

.contacts-abc li > span {
    color:#aaa;
}

.contacts-abc li > span,
.contacts-abc li > a {
    display:block;
    padding:0.3em 0.35em;
    border-radius:2px;
}

.contacts-abc li.active a {
    background:darkorange;
    color:#fff;
}

/*
 * Publish
 */

body.layout-publish {
    overflow-y:hidden;
    overflow-x:auto;
}

body.layout-publish:before {
    content:"";
    position:fixed;
    height:4px;
    left:0;
    right:0;
    top:0;
    background-color:rgba(0,0,0,0.0375);
    z-index:3;

}

.layout-publish .wrapper-in {
    padding:0;
    margin:0;
}

.layout-publish .dactylo {
    border-width:0 1px;
    border-style:solid;
    border-color:rgba(0,0,0,0.1);
    box-shadow: inset 0 4px #1F78D8;
}

/*
 * Dactylo
 */

.dactylo .redactor-box {
    margin:0;
}

.dactylo .redactor-editor {
    box-shadow:none;
    border:none;
}

.dactylo .redactor-toolbar {
    box-shadow:none;
    border-width:0 0 1px;
    border-style:solid;
    border-color:rgba(0,0,0,0.1);
}

.dactylo:after {
    content:"";
    display:table;
    clear:both;
}

.dactylo-left,
.dactylo-right {
    width:17.5%;
    background:#fbfbfb;
    float:left;
    box-sizing:border-box;
    padding-top:4px;
    position:relative;
}

.dactylo-body {
    width:65%;
    float:left;
    box-sizing:border-box;
    position:relative;
    z-index:2;
    border-width:0 1px;
    border-style:solid;
    border-color:rgba(0,0,0,0.1);
    padding-top:4px;
}

.dactylo-body.wide {
    width:82.5%;
    border-left:none;
}

.dactylo-body header {
    border-bottom:1px solid rgba(0,0,0,0.075);
    box-shadow:0 1px rgba(255,255,255,0.225);
    text-shadow:0 1px 1px rgba(0,0,0,0.15);
}

.dactylo-left header {
    padding:8px 12px;
    font-weight:bold;
    font-size:18px;
    border-bottom:1px solid rgba(0,0,0,0.075);
    box-shadow:0 1px rgba(255,255,255,0.225);
    font-family:'Consolas','Courier New', monospace;
}

.dactylo-left footer {
    padding:8px 12px;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.dactylo-right header {
    padding:8px 12px;
    border-bottom:1px solid rgba(0,0,0,0.075);
    box-shadow:0 1px rgba(255,255,255,0.225);
    font-size:13px;
    font-weight:bold;
}

.dactylo-right header .avatar-small {
    vertical-align:bottom;
}

.dactylo-right section {
    padding:12px;
    border-bottom:1px solid rgba(0,0,0,0.075);
    box-shadow:0 1px rgba(255,255,255,0.225);
}

.dactylo-right section:last-child {
    border-bottom:none;
    box-shadow:none;
}

.dactylo-right section h3.mainUpper {
    color:#888;
    margin:0 0 4px;
    font-weight:bold;
}

.dactylo #dactylo-title,
.dactylo #dactylo-title:focus
{
    color:#333;
    background:none;
    border:none;
    box-shadow:none;
    outline:none;
    font-size:18px;
    line-height:normal;
    width:100%;
    padding:11px 12px 5px;
}

.dactylo-right .chosen-container {
    width:100% !important;
}

.dactylo-right .chosen-container-multi .chosen-choices {
    border-radius:5px;
}

.dactylo-right .chosen-container-active.chosen-with-drop .chosen-choices {
    border-radius:3px 3px 0 0;
}

.dactylo #save.btn-primary {
    color:#fff;
    font-weight:bold;
}

/* Dactylo Tree */

.dactylo-tree {
    padding:6px;
    background:#fff;
    list-style:none;
    font-size:12px;
    border-bottom:1px solid rgba(0,0,0,0.075);
    box-shadow:0 1px rgba(255,255,255,0.225);
}

.dactylo-tree li {
    display:block;
    margin: 0 0 3px;
    position:relative;
}

.dactylo-tree li > a {
    display:block;
    padding:3px 6px;
    color: #aaa;
    border-radius: 3px;
    text-decoration:none;
}

.dactylo-tree li > a:hover {
    background-color: #fbfbfb;
}

.dactylo-tree li > a.active {
    color: #666;
    background: #E8F2FF !important;
    font-weight: bold;
}

.dactylo-tree li > .meta-btns {
    position: absolute;
    opacity: 0;
    right: 3px;
    top: 3px;
    z-index: 99;
    transition: opacity 0.2s;
    background: #fbfbfb;
    border-radius: 2px;
}

.dactylo-tree li:hover > .meta-btns {
    opacity: 1;
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}

.dactylo-tree li .meta-btns .fa {
    color: #aaa;
    padding: 3px;
    line-height: 1;
    font-size: 10px !important;
    cursor: pointer;
}

.dactylo-tree li .meta-btns .fa:hover {
    color: #666;
}

/*
 * Events
 */

.layout-events .col-left {
    opacity:0.6;
    transition:opacity 0.2s;
}

.layout-events .col-left:hover {
    opacity:1;
}

.layout-events .bodyright-headings h3.mainUpper {
    border-bottom:none;
}

.layout-event .sect-event-desc {
    margin-top:16px;
}

.event-poster {
    padding:1px;
}

.event-poster img {
    width:100%;
    border-radius:2px;
    box-shadow:0 2px 2px -1px rgba(0,0,0,0.5);
}

.events .event-unit {
    margin-bottom:8px;
}

.event-unit {
    font-size:12px;
    border-width:1px 1px 3px 1px;
    border-style:solid;
    border-color:#E8E8E8;
    color:#6E7E8D;
    background:#FBFBFB;
    position:relative;
}

.event-in {
    display:table;
    width:100%;
    cursor:pointer;
}

.event-unit .event-in:after {
    content:"";
    clear:both;
    display:table;
}

.event-map {
    border-top:1px solid #ddd;
}

.event-btns {
    margin-top:5px;
}

.event-btns span {
    font-weight:bold;
    display:block;
    color:#333;
}

.event-map iframe {
    width:100%;
    height:224px;
    display:block;
    margin:0;
    padding:0;
}

.event-desc {
    font-size:13px;
    padding:8px 12px;
    background:#fff;
    color:#000;
    border-top:none;
}

.event-left {
    width:16.5%;
    background:#fff;
    border-right:1px solid #E8E8E8;
    padding:8px 12px;
    display:table-cell;
    vertical-align:middle;
}

.event-body {
    width:83.5%;
    background:#FBFBFB;
    padding:8px 24px 8px 12px;
    display:table-cell;
    vertical-align:middle;
    position:relative;
}

.event-body:after {
    content:"\f105";
    font-family:'FontAwesome';
    position:absolute;
    right:7px;
    top:50%;
    margin-top:-7px;
    font-size:14px;
    line-height:1;
}

.event-unit.mod-wide .event-body:after {
    right:14px;
}

.event-unit .date {
    border-radius:7px;
    text-align:center;
    line-height:1;
}

.event-unit .date .month {
    font-size:12px;
    display:block;
    text-transform:uppercase;
}

.event-unit .date .day {
    font-size:20px;
    margin-top:5px;
    display:block;
}

.event-unit .date .hour {
    display:block;
    margin-top:5px;
}

.event-title {
    font-weight:bold;
    text-decoration:none;
    line-height:1.35;
    display:block;
    color:#6E7E8D;
}

.event-unit:hover .event-title,
.event-unit .event-title:hover {
    color:#333;
    text-decoration:none;
}

.event-place {
    font-size:11px;
    color:#aaa;
    margin-top:3px;
}

.events-tabs {
    margin-bottom:0;
}

/*
 * Groups
 */
 
.layout-group .col-right {
    margin-left:12px;
}

.layout-group .col-bodyleft {
    width:728px;
}

.groups-icon-list li:first-child {
    margin-left:0;    
}

.groups-icon-list.grid-6 li:nth-child(5n+1){
    margin-left:0;
}

.groups-icon-list .icon {
    width:32px;
    border-radius:3px;
}

.group-headings {
    margin-bottom:12px;
}

.group-headings .icon,
.group-headings .icon-ph
{
    height:32px;
    width:32px;
    vertical-align:middle;
}

.group-headings .name {
    font-weight:bold;
    color:#333;
    letter-spacing:-0.5px;
}

.group-headings .btn:not(.btn-link){
    border-radius:1px;
}

.group-headings .title {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 3px;
    display: block;
}

.group-tabs {
    margin-bottom:0;
}

.sect-group-files .box .filename {
    font-weight:bold;
    font-size:13px;
}

.sect-group-files .box .meta {
    display:block;
    font-size:12px;
}

.sect-group-files .box .btn-dl {
    float:right;
}

.sect-group-files .box-in {
    border-bottom:1px solid #e8e8e8;
}

.sect-group-files .box-in:last-child {
    border-bottom:none;
}

/*
 * Explore
 */

.sect-explore-list .meta {
}

.sect-explore-list .meta .bold {
    font-size:11px;
}

.sect-explore-list .topics-text-list-sm li {
    margin-right:4px;
    font-size:11px;
}

/* 
 * Groups Create 
 */

.sect-groups-create .sect-span input[type="radio"] {
    margin:0;
}

.sect-groups-create .sect-span label {
    font-weight:normal;
    margin:0;
    cursor:pointer;
    display:block;
}

.sect-groups-create .sect-span .str img {
    vertical-align:baseline;
    width:1em;
    height:1em;
}

.sect-groups-create .sect-span .str {
    line-height:1;
}

.sect-groups-create .sect-span label p {
    margin-top:4px;
    color:#aaa;
}

.sect-groups-create .sect-span .unit {
    border-bottom:1px solid #f0f0f0;
    margin-bottom:8px;
}

.sect-groups-create .sect-span .unit:last-child {
    margin-bottom:0;
    border-bottom:none;
}
/* Fixed Helper Buttons */
.App .footerButtonsWrapper {
    bottom: 14px;
    position: fixed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 680;
}

.FooterButtons.show {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-duration: .85s;
    transition-duration: .85s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1.32, 0.48, 1);
    transition-timing-function: cubic-bezier(0.19, 1.32, 0.48, 1);
}

.FooterButtons .buttonInoutWrapper.addButtonWrapper {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
    margin-bottom: 8px;
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
}

.FooterButtons.visible .buttonInoutWrapper {
    opacity: 1;
    text-align: center;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-duration: .85s;
    transition-duration: .85s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1.32, 0.48, 1);
    transition-timing-function: cubic-bezier(0.19, 1.32, 0.48, 1);
}

.FooterButtons .buttonInoutWrapper {
    opacity: 0;
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
}

.Button.footerIcon.borderless {
    background-color: #fff;
    padding: 8px;
}

.Button.footerIcon {
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

.Button.borderless {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

.Button {
    outline: none;
    position: relative;
    line-height:1;
}

.Button.addPinFooter em {
    width: 16px;
    height: 16px;
    background: url("https://s-passets-cache-ak0.pinimg.com/webapp/style/sprites/webapp-common-above_the_fold-1x-25a21d73.png") -250px -273px no-repeat;
}

.Button em {
    display: inline-block;
    outline: none;
    position: relative;
    vertical-align: middle;
    line-height:1;
}

.Button .accessibilityText {
    font: 0 / 0 serif;
    text-shadow: none;
    color: transparent;
    position: absolute;
}

.Button.addPinFooter:hover em {
    width: 16px;
    height: 16px;
    background: url("https://s-passets-cache-ak0.pinimg.com/webapp/style/sprites/webapp-common-above_the_fold-1x-25a21d73.png") -268px -273px no-repeat;
}

.Button.footerIcon:hover {
    background-color: #f5f5f5;
}

.Button.footerIcon:active, .Button.footerIcon.active {
    background-color: #e9e9e9;
}

/* sect-discover */

.sect-discover {
    width: 720px;
    font-size:14px;
}

.new-thread-list img {
    width:96px;
    height:96px;
}

.new-thread-list .str {
    color:#fff;
    font-size:18px;
    margin-top:8px;
}